<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="robots" content="index, follow" />
<meta name="language" content="English" />
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Primary Meta Tags -->
<title><%= metaData.title %></title>
<meta name="title" content="<%= metaData.title %>" />
<meta name="description" content="<%= metaData.description %>" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="<%= metaData.url %>" />
<meta property="og:title" content="<%= metaData.title %>" />
<meta property="og:description" content="<%= metaData.description %>" />
<meta property="og:image" content="<%= metaData.ogImage %>" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="<%= metaData.url %>" />
<meta property="twitter:title" content="<%= metaData.title %>" />
<meta property="twitter:description" content="<%= metaData.description %>" />
<meta property="twitter:image" content="<%= metaData.ogImage %>" />

<link rel="icon" href="<%= metaData.favicon %>" />
<link rel="canonical" href="<%= metaData.url %>" />
<link rel="stylesheet" href="/assets/menu/style.css" />
<link rel="stylesheet" href="/assets/footer/style.css" />
