<div class="singleProject">
  <a href="<%= liveUrl %>" class="title"><h2><%= title %></h2></a>
  <p class="description"><%= description %></p>

  <img
    class="frontendStack"
    src="https://skillicons.dev/icons?i=<%= frontendStack %>,<%= backendStack %>&perline=6"
  />
</div>
